.main {
    display: flex;
    flex-direction: column;
    height:100vh
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}